<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include blocks/links.ejs %>
  <title>Document</title>
</head>
<body>
<h1>Форум</h1><br/>
<a href="/razdel1">Раздел 1</a>
</body>
</html>
