<% include layout/header.ejs %>
<div class="login"><a href="/login">Войти</a></div>
<% makethems.forEach(function(makethem){ %>

  <a href="/razdel1/<%= makethem.body %>"><%= makethem.body %></a><br/>

<% }) %>
<div><a href="/makethema">Создать тему</a></div>
<% include layout/footer.ejs %>
