<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include blocks/links.ejs %>
  <title>Document</title>

</head>
<body>
<h1>Тема <%= id %></h1><br/>
<a href="/razdel1">Перейти в раздел 1</a>
<% doc.forEach(function(element){ %>
  <div class="post">
    <div>Написал: <b><%= element.user %></b></div>
    <div class="text"><%- element.body %></div>
  </div>
  <hr/>
  <% }) %>
  <form method="post">
    <textarea name="body"></textarea><br/>
    <input class="inputuser"
           name="user"
           type="text"
           cols="15"
           onfocus="if(this.value==this.defaultValue)this.value='';"
           onblur="if(this.value=='')this.value=this.defaultValue;"
           value="Ваше имя"
           ><br/>
    <input type="submit" value="Ответить" class="inputsubmit">
  </form>
</body>
</html>
