<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include blocks/links.ejs %>
  <title>Document</title>
</head>
<body>
Коллекция 1
<div><a href="/makethema">Создать тему</a></div>
</body>
</html>
