body {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}
.inputuser {
  display: inline-block;
  width: 40%;
  height: 40px;
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 0px 15px;
  border-radius: 5px;
  border: none;
  color: #999;
}
.inputuser:focus{
  color:black;
}
.inputsubmit {
  display: inline-block;
  width: 40%;
  height: 40px;
  margin: 15px 0px 10px 0px;
  padding: 0px 0px 0px 15px;
  border-radius: 5px;
  border: none;
}
